body.home { /* establishes background for home page */
    background-image: url("images/bg1.png");
    background-size: 110vw 110vh;
}

body.creatures { /* establishes background for creatures page */
    background-image: url("images/bg2.png");
    background-size: 110vw 110vh;
}

body.regions { /* establishes background for regions page */
    background-image: url("images/bg3.png");
    background-size: 110vw 110vh;
}

@font-face { /* establishes font for navs, titles, etc. */
    font-family: navFont;
    src: url(fonts/Nexa-Heavy.ttf);
}

@font-face { /* establishes font for content text */
    font-family: textFont;
    src: url(fonts/Calibri\ Regular.ttf);
}

nav a, h1, h2 {
    font-family: navFont;
}

p, .qlinks a, .qlinksb a, .qlinksc a {
    font-family: textFont;
}

a:hover, .qlinks a:hover, .qlinksb a:hover, .qlinksc a:hover { /* adds a hover state to links */
    color: black;
}

form {
    margin: 1.5vw;
}

.container { /* creates the main container and establishes all of the grid template rows and column values for the home page */
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    grid-template-rows: 20vh 5vh 73vh;
}

.box2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1/2;
    grid-column: 2/2;
}

.box2b {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1/2;
    grid-column: 2/2;
}

.box2c {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1/2;
    grid-column: 2/2;
}

.box3 { /* creates the grid for containing the main contents of the pages, establishes variables */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 3/3;
    grid-column: 2/2;
}

.tbox { /* creates the grid for containing the main text and images, establishes variables */
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: #4D4D4F;
    border-radius: 2.5vw;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.tbox2b {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row: 1/2;
}

.contentbox { 
    display: grid;
    padding: 3vw;
    grid-row: 2/2;
}

.tcontentbox {
    grid-column: 2/2;
}

.tboxb { /* creates the grid for containing the main text and images of creature page, establishes variables */
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 0.3fr 1fr;
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: #5E0F39;
    border-radius: 2.5vw;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.tboxc { /* creates the grid for containing the main text and images of regions page, establishes variables */
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 0.3fr 1fr;
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: #005E56;
    border-radius: 2.5vw;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.scug1 { 
    height: 20vh;
}

.cimg { /* establishes size, padding and the black border of the images in the main content box */
    padding: 1vh;
    height: 20vh;
    border: 0.3vw solid black;
}

.cimg2 {
    padding: 1vh;
    height: 15vh;
    border: 0.3vw solid black;
}

.lizor {
    height: 10vh;
    padding: 5vh;
}

.map {
    height: 30vh;
    padding: 3vh;
}

h1 {  /* establishes positioning, size and color of title, nav, etc text */
    margin: 2vw;
    font-size: 5vh;
    color: white;
}

h2 {
    font-size: 3vh;
    color: white;
    margin: 1.5vw;
}

p {
    margin: 2vw;
    font-size: 2.3vh;
    color: white;
}

li {
    color: white;    
}

.qgrids {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr;
    grid-column: 2/2;
}

.credit {
    display: grid;
    grid-template-rows: 3fr 0.1fr;
    grid-column: 3/3;
}

.credit2 {
    grid-row: 2/2;
}

.qlinks { /* creates the grid for containing the search bar and quick links, establishes variables */
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-column: 2/3;
    background-color: grey; 
    border-radius: 2.5vw;
    background-color: #4D4D4F;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.qlinksb { 
    display: grid;
    grid-template-rows: 0.05fr 0.02fr 0.1fr;
    grid-column: 2/3;
    background-color: grey;
    border-radius: 2.5vw;
    background-color: #5E0F39;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.qlinksc { 
    display: grid;
    grid-template-rows: 0.05fr 0.02fr 0.1fr;
    grid-column: 2/3;
    background-color: grey;
    border-radius: 2.5vw;
    background-color: #005E56;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.qlinks2 {
    grid-row: 2/3;
}
.qlinks3 {
    grid-row: 3/3;
}

.logo {
    grid-row: 1/1;
    grid-column: 1/2;
    height: 20vh;
    align-self: center;
}

nav { /* creates the grid for containing the nav links, establishes variables */
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: #4D4D4F;
    opacity: .9;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 0.6vw 0.6vw;
    border-radius: 25vw;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.box2b nav {
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: #5E0F39;
    opacity: .9;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 0.6vw 0.6vw;
    border-radius: 25vw;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.box2c nav {
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: #005E56;
    opacity: .9;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 0.6vw 0.6vw;
    border-radius: 25vw;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

nav a { /* establishes positioning, size and color of nav links */
    margin: 9vw;
    color: white;
    text-decoration: none;
    font-size: 2.8vh;
}

.qlinks a, .qlinksb a, .qlinksc a {
    color: white;
    text-decoration: none;
    font-size: 2.3vh;
    margin: 1.5vw;
}

.credit p { /* establishes positioning, size and color of the credit text */
    color: white;
    text-decoration: none;
    font-size: 0.7vw;
}