html {
    background-image: url("images/bg1.png");
    background-size: 230vh 55vw;
}

@font-face {
    font-family: navFont;
    src: url(fonts/Nexa-Heavy.ttf);
}

@font-face {
    font-family: textFont;
    src: url(fonts/Calibri\ Regular.ttf);
}

nav a, h1 {
    font-family: navFont;
}

p {
    font-family: textFont;
}

a:hover {
    color: black;
}

.container { /* creates the main container and establishes all of the grid template rows and column values for the home page */
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    grid-template-rows: 20vh 5vh 73vh;
}

.box2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1/2;
    grid-column: 2/2;

}

.box3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 3/3;
    grid-column: 2/2;
}

.tbox {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: #4D4D4F;
    border-radius: 2.5vw;
    opacity: .9;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

.scug1 {
    height: 20vh;
    
}

h1 {
    margin: 2vw;
    font-size: 5vh;
    color: white;
}

p {
    margin: 2vw;
    font-size: 2.3vh;
    color: white;
}

.qgrids {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.7fr;
    grid-column: 2/2;
}

.qlinks { 
    grid-column: 2/3;
    background-color: grey;

}

.logo {
    grid-row: 1/1;
    grid-column: 1/2;
    height: 20vh;
    align-self: center;
}


nav {
    grid-row: 1/1;
    grid-column: 2/2;
    background-color: #4D4D4F;
    opacity: .9;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 0.6vw 0.6vw;
    border-radius: 25vw;
    box-shadow: 0.3vw 0.6vw 1.2vw;
}

nav a {
    margin: 9vw;
    color: white;
    text-decoration: none;
    font-size: 2.8vh;
}